*{
	margin:0;
	_border:1px solid;
}
.clear { clear: both; }

/* Generales */
body {
	margin:0;
	font-size: 12px;
	background-color: rgba(240,240,240,0.6);
}
p{
	margin:0;
	font-size: 12px;
}
header {
 	position: fixed;
 	top: 0; 
 	width: 100%;
	background: linear-gradient(to right, rgba(220,220,220,0.9) 0%, rgba(190,190,190,0.9) 20%, rgba(190,190,190,0.9) 80%, rgba(220,220,220,0.9) 100%);
	background-size: contain;
	padding: 1px;
	z-index: 2;
}
h1{ margin: 10px auto }
h2{ margin-top: 30px;
	margin-bottom: 5px }
hgroup{
	color: rgb(50, 50, 50);
	font-size: 2em;
	text-align: center;
	text-shadow: rgb(250, 250, 250) 2px 2px 0px;
	margin: 10px;
}

nav {
	background: linear-gradient(to right, rgba(190,190,190,0.9) 0%, rgba(220,220,220,0.9) 20%, rgba(220,220,220,0.9) 80%, rgba(190,190,190,0.9) 100%);
	float: top;
	overflow:hidden;
	margin: 0;
	_border-top: 2px solid black;
	_border-bottom: 2px solid black;
}
nav ul{
	margin: 0 auto;
	text-align: center;
}
nav li{
	display:inline;
	margin: 5px 5px;
	display: inline;
}
nav li a{
	font-size: 1.1em;
	padding-left: 10px;
}
nav li a: active{
	color: blue;
}

.container{
	width: 100%;
	margin-top: 82px;
}

footer {
	clear:both;
	float: botton;
	background: linear-gradient(to right, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 39%, rgba(150,150,150,0.2) 62%, rgba(150,150,150,0.2) 100%);
}
footer p{
	display:inline;
	font-size: 1.1em;
	margin:5px 5px;
}
footer p a{
	margin:5px 5px;
}


_p{ /*Cambiar esto, es muy general*/
	margin: 0px;
	font-size:0.8em;
}

/* Solo para Index (ePortfolio) */
section.ePortfolio{
	float: left;
	width: 100%;
}
h2.Perfil, h2.Experiencia {
	font-size:1.8em;
	text-align: center;
}
p.Perfil, p.Experiencia{
	font-size:1em;
	margin-left: 25%;
	margin-right: 25%;
}

/* Solo para titles (Formación académica) */
.titles{
    text-align: center;
}
.titles .row{
	margin: 10% auto;
}
.titles .academic-title{
	max-width: 160px;
	overflow: visible;
	transition-property: transform;
	transition-duration: 400ms;
}
.titles .academic-title:hover{
	transform-origin: 50% 40%;
	transform: scale(2, 2);
}

/* Solo para Work (Experiencia laboral) */
.worksslider{
	margin-top: 2%;
	margin-right: 2%;
}
.bxslider {
	padding: 0px;
}
.bxslider img{
	width: 100%;
}

p span{
	font-weight: bold;
}

aside{
}

.curso-title,
.work-title,
.event-title,
.article-title{
	background: linear-gradient(to right, rgba(150,150,150,0.2) 0%, rgba(150,150,150,0.2) 39%, rgba(250,250,250,0.2) 61%, rgba(250,250,250,0.2) 100%);
	margin-top: 5px;
	text-decoration
	font-size:1.2em;
}
.curso-title:hover,
.work-title:hover,
.event-title:hover,
.article-title:hover{
	background: linear-gradient(to right, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 39%, rgba(150,150,150,0.2) 62%, rgba(150,150,150,0.2) 100%);
}

.fcomplementaria > li {	
	padding: 0px;
}
/*Oculta listas anidadas*/
.thishassubmenu .submenu {
	padding-left: 40px;
	width: 95%;
	left: 5%;
	top: 100%;
	background-color: white;
	display: none;
}
.thishassubmenu p:first-child:hover ~ .submenu {
	display: block;
}
.thishassubmenu p:first-child span{
	font-size: 1.5em;
	text-decoration: none;
}
.thishassubmenu p:first-child span::after{
	content: ' + ';
}
.thishassubmenu p:first-child:hover span::after{
	content: ' - ';
}
.asignatura{
	font-size: 1em;
	background-color: white;
}

#Show_Article {
	width: 90%;
}
